{#
This is where global variables can be defined, which then can be used in one
or more templates. This is especially useful for variables that are generated
randomly, such as random names and passwords.

For example, if the variable "foo" is defined here:

    {% set foo = "bar" %}

it can be used in any template by including this file at the top:

    {% include "global_variables" %}
    This is my foo: {{ foo }}
#}
